body{
    font: normal 15pt Arial;
    background: url(../fundo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
    color: rgb(29, 27, 27);
}

div{
    border-radius: 10px;
    margin: 400px;
    padding: 20px;
    margin-top: 200px;
    text-align: center;
    border: 3px white solid;
}

button{
    font: normal 11pt Arial;
    font-weight: bold;
    height: 2.5em;
    width: 5.5em;
    margin: 8px;
    border: none;
    border-radius: 10px;
    color: rgb(29, 27, 27);
    background-color: rgba(255, 255, 255, 0.39);
}

button:hover{
    cursor:pointer;
}

