* { 
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    font-family: "Open Sans", sans-serif;
}

body, html{
    background-image: linear-gradient(to right bottom, #c4eaff, #c3e4ff, #c8ddff, #d2d4ff, #e1caff, #efc5f3, #f9c1e5, #ffbfd7, #ffc5ca, #ffcec1, #ffd8bd, #fbe2bf);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

h1{
    margin: 20px 0;
    color: #FFFFFF;
    text-align: center;
    font-weight: 800;
    font-size: 38px;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.30);
}

.centro {
    width: 100%;
    text-align: center;
    max-width: 500px;
}

.menu{
    padding: 25px 50px;
    width: 100%;
    align-items: center;
    justify-self: center;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 30px;
    border: 5px solid #FFFFFF;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.30);
}

h2{
    color: #646060;
    font-size:39px;
    margin: 15px 0 20px;
    font-weight: 700;
}

button{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    width: 98px;
    height: 42px;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
}

.botoes{
    display: flex;
    align-items: center;    
    justify-content: center;  
    flex-wrap: wrap; 
}

#iniciar{
    background-color: #7AE5D2;
}

#iniciar:hover{
    background-color: #64beae;
}

#pausar{
    background-color: #F87BC9;
}

#pausar:hover{
    background-color: #da68ae;
}

#zerar{
    background-color: #F3D184;
}

#zerar:hover{
    background-color: #ceac5e;
}

button:hover{
    cursor:pointer;
}

@media (max-width: 540px) { 
    .centro{
      margin: 5%;
    }

    .botoes {
        flex-direction: column;
    }

    .menu{
        padding: 25px;
    }
}

